<% provide(:title, 'People') %>
<div class="row">
  <div class="span2">
    <h1>People</h1>
  </div>
  <div class="pull-right">
    <%= form_tag people_path, :class => 'form-search inline input-xlarge', :method => 'get' do %>
      <%= text_field_tag :search, params[:search], :class => 'span3' %>
      <%= submit_tag "Search by name", :class => 'btn', :name => nil %>
        <% if (params[:search]) %> 
            <%= link_to "Clear search", people_path, :class => 'btn' %>
        <% end %>
    <% end %>
  </div>
</div>
<div class="row toolbar">
  <div class="span5 pull-left">
    <%= link_to 'New person', new_person_path, :class => 'btn btn-large btn-primary' %>
  </div>
  <div class="pull-right">
    <%= will_paginate @people %>
  </div>
</div>
<table class="table table-striped">
  <tr>
    <th>Last name</th>
    <th>First name</th>
    <th>Address</th>
    <th>City</th>
    <th>State</th>
    <th>Zip</th>
    <th>Options</th>
  </tr>

<% @people.each do |person| %>
  <tr>
    <td><%= person.lastname %></td>
    <td><%= person.firstname %></td>
    <td><%= person.address %></td>
    <td><%= person.city %></td>
    <td><%= person.state %></td>
    <td><%= person.zipcode %></td>
    <td>
      <%= link_to(person) do %><i class="icon-eye-open"></i><% end %>
      <%= link_to(edit_person_path(person)) do %><i class="icon-pencil"></i><% end %>
      <%= link_to(person, method: :delete, data: { confirm: 'Are you sure? This action cannot be undone.' }) do %><i class="icon-remove"></i><% end %>
    </td>
  </tr>
<% end %>
</table>
