<% provide(:title, 'People') %>
<h1>Listing people</h1>

<%= form_tag people_path, :class => 'form-search', :method => 'get' do %>
  <div>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search by name", :class => 'btn', :name => nil %>
    <%= link_to 'Enter a new person', new_person_path, :class => 'btn' %>
  </div>
<% end %>

<table class="table table-striped">
  <tr>
    <th>Last name</th>
    <th>First name</th>
    <th>Address</th>
    <th>City</th>
    <th>State</th>
    <th>Zip</th>
    <th>Options</th>
  </tr>

<% @people.each do |person| %>
  <tr>
    <td><%= person.lastname %></td>
    <td><%= person.firstname %></td>
    <td><%= person.address %></td>
    <td><%= person.city %></td>
    <td><%= person.state %></td>
    <td></td>
    <td><%= link_to 'Show', person %> / <%= link_to 'Edit', edit_person_path(person) %> / <%= link_to 'Delete', person, method: :delete, data: { confirm: 'Are you sure? This action cannot be undone.' } %></td>
  </tr>
<% end %>
</table>
