<% provide(:title, @person.firstname + " " +  @person.lastname) %>
<p id="notice"><%= notice %></p>
<div class="row">
<aside class="span3">
<section>
<h1><%= @person.firstname + " " +  @person.lastname %></h1>

<p>
  <%= @person.address %><br />
  <%= @person.city %>, <%= @person.state %>
</p>
<%= link_to 'Edit', edit_person_path(@person) %> | 
<%= link_to 'Back to list', people_path %>
</section>
</aside>

  <div class="span8">
    <%= link_to 'Create a new sale', new_sale_path(:person_id => @person.id) %>
    <% if @person.sales.any? %>
      <table class="table table-condensed">
        <tr>
          <th>Sale date</th>
          <th>Buyer number</th>
          <th>Options</th>
        </tr>
        <%= render @sales %>
     </table>
      <%= will_paginate @sales %>
    <% end %>
  </div>
</div>
