<% provide(:title, 'Users') %>
<h1>All Users</h1>

<%= will_paginate %>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
    <td><%= link_to 'Show', user %>
  <% if signed_in? %>
    / <%= link_to 'Edit', edit_user_path(user) %>
    / <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  <% end %>
  </tr>
<% end %>
</table>

<br />
<%= will_paginate %>
