<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>
<div class="row">
  <div class="span6 offset4">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name, :class => "input-xlarge" %>
    </div>
    <div class="field">
      <%= f.label :email %>
      <%= f.text_field :email, :class => "input-xlarge" %>
    </div>
    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password, :class => "input-xlarge" %>
    </div>
    <div class="field">
      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, :class => "input-xlarge" %>
    </div>
      <%= f.submit "Create user", class: "btn btn-primary" %>
      <%= f.submit "Create user and signin", :name => 'create_and_sign_in', class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
