<div class="center hero-unit">
  <h1>Pipestone Livestock Market</h1>
    <% if signed_in? %>
      <div class="btn-group center">
        <%= link_to "Animals", animals_path, class: "btn btn-primary btn-large" %>
        <%= link_to "People", people_path, class: "btn btn-primary btn-large" %>
        <%= link_to "Sales", sales_path, class: "btn btn-primary btn-large" %>
      <% if current_user.admin? %>
        <%= link_to "Users", users_path, class: "btn btn-primary btn-large" %>
      <% end %>
      </div>
    <% else %>
  <h2>Sign in</h2>

    <%= form_for(:session, url: sessions_path) do |f| %>

    <div class="field">
      <%= f.label :email %>
      <%= f.text_field :email, :class => "input-xlarge" %>
    </div>
    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password, :class => "input-xlarge" %>
    </div>
      <%= f.submit "Sign in", class: "btn btn-large" %>
    <% end %>
      <p>Not Registered? <%= link_to "Sign up", signup_path %></p>
    <% end %>
</div>
