<div class="center hero-unit">
  <h1>Pipestone animal tracking application</h1>
    <% if signed_in? %>
      <p>
        <%= link_to "Enter / View Animals", animals_path, class: "btn btn-large btn-primary" %>
        <%= link_to "Enter / View People", people_path, class: "btn btn-large btn-primary" %>
        <%= link_to "Enter / View Sales", sales_path, class: "btn btn-large btn-primary" %>
      <% if current_user.admin? %>
        <%= link_to "Enter / View Users", users_path, class: "btn btn-large btn-primary" %>
      <% end %>
      </p>
    <% else %>
      <p><%= link_to "Sign in", signin_path, class: "btn btn-large btn-primary" %></p>
      <p>Not Registered? <%= link_to "Sign up", signup_path %></p>
    <% end %>
</div>
