<div class="center hero-unit">
  <h1>Pipestone animal tracking application</h1>
    <% if signed_in? %>
      <div class="btn-group center">
        <%= link_to "Animals", animals_path, class: "btn btn-primary btn-large" %>
        <%= link_to "People", people_path, class: "btn btn-primary btn-large" %>
        <%= link_to "Sales", sales_path, class: "btn btn-primary btn-large" %>
      <% if current_user.admin? %>
        <%= link_to "Users", users_path, class: "btn btn-primary btn-large" %>
      <% end %>
      </div>
    <% else %>
      <p><%= link_to "Sign in", signin_path, class: "btn btn-large" %></p>
      <p>Not Registered? <%= link_to "Sign up", signup_path %></p>
    <% end %>
</div>
