<tr>
  <td><span class="date"><%= animal.date %></span></td>
  <td><%= link_to animal.metal1, animal %></td>
  <td><%= animal.allflex %></td>
  <td><%= animal.comments %></td>
  <td class="center">
    <%= link_to 'X', animal, method: :delete, data: { confirm: 'Are you sure?' } %>
  </td> 
</tr>
