<% provide(:title, 'New Animal') %>
<%= form_for(@animal) do |f| %>
  <% if @animal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@animal.errors.count, "error") %> prohibited this animal from being saved:</h2>

      <ul>
      <% @animal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %>
    <%= f.date_select( "date", :order => [:month, :day, :year] ) %>
  </div>
  <div class="field">
    <%= f.label :metal1 %>
    <%= f.text_field :metal1 %>
  </div>
  <div class="field">
    <%= f.label :allflex %>
    <%= f.text_field :allflex %>
  </div>
  <div class="field">
    <%= f.label :comments %>
    <%= f.text_area :comments, :rows => "5" %>
  </div>
  <div class="actions">
    <%= f.submit :class => 'btn btn-primary' %>
    <%= link_to 'Cancel', animals_path, :class => 'btn' %>
  </div>
<% end %>
