<% provide(:title, 'Animals') %>
<h1>Viewing and entering animals</h1>

<div class="toolbar pull-left">
  <%= link_to 'Enter a new animal', new_animal_path, :class => 'btn btn-primary'  %>
</div>
<div class="toolbar pull-right">
  <%= will_paginate %>
</div>

<table class="table table-striped">
  <tr>
    <th>Date</th>
    <th>Metal1</th>
    <th>Allflex</th>
    <th>Comments</th>
    <th>Sold?</th>
    <th>Options</th>
  </tr>

<% @animals.each do |animal| %>
  <tr>
    <td><span class="date"><%= animal.date %></span></td>
    <td><%= animal.metal1 %></td>
    <td><%= animal.allflex %></td>
    <td class="comments"><%= animal.comments %></td>
    <td class="center">
      <% if animal.sale_id %>
        <%= link_to "\u2713", animal.sale %>
      <% end %>
    </td>
    <td>
      <%= link_to 'Edit', edit_animal_path(animal) %> /
      <%= link_to 'Delete', animal, method: :delete, data: { confirm: 'Are you sure?' } %>
    </td>
  </tr>
<% end %>
</table>

<br />
<div class="pull-right">
  <%= will_paginate %>
</div>
