<div class="container">
  <h2>Select animals</h2>

<table class="table table-striped">
  <tr>
    <th>Select</th>
    <th>Date</th>
    <th>Metal1</th>
    <th>Allflex</th>
    <th>Comments</th>
  </tr>

<% @animals.each do |animal| %>
  <tr>
    <td><%= check_box("post", :animal_id) %></td>
    <td><span class="date"><%= animal.date %></span></td>
    <td><%= animal.metal1 %></td>
    <td><%= animal.allflex %></td>
    <td class="comments"><%= animal.comments %></td>
  </tr>
<% end %>
</table>

</div>
