<% provide(:title, 'Animals') %>
<h1>Viewing animal <%= @animal.metal1 %></h1>
<p>
  <strong>Date:</strong>
  <%= @animal.date %>
</p>
<p>
  <strong>Owner:</strong>
  <% if @animal.person_id %>
    <%= @animal.person.firstname + " " + @animal.person.lastname %>
  <% end %>
</p>
<p>
  <strong>Breed:</strong>
  <%= @animal.breed %>
</p>
<p>
  <strong>Sex:</strong>
  <%= @animal.sex %>
</p>
<p>
  <strong>Old Tag:</strong>
  <%= @animal.old_tag %>
</p>
<p>
  <strong>Age:</strong>
  <%= @animal.age %>
</p>
<p>
  <strong>Metal:</strong>
  <%= @animal.metal1 %>
</p>
<p>
  <strong>CHV:</strong>
  <%= @animal.chv %>
</p>
<p>
  <strong>Allflex:</strong>
  <%= @animal.allflex %>
</p>
<p>
  <strong>Brucellosis:</strong>
  <%= @animal.bruc %>
</p>
<p>
  <strong>Months Pregnant:</strong>
  <%= @animal.months_pregnant %>
</p>
<p>
  <strong>Temperature:</strong>
  <%= @animal.temperature %>
</p>
<p>
  <strong>Comments:</strong>
  <%= @animal.comments %>
</p>

<% if @animal.sale_id %>
  <p>
    <strong>Sale:</strong>
    <%= @animal.sale_id %>
  </p>
<% end %>

<div >
  <%= link_to 'Edit', edit_animal_path(@animal), :class => 'btn btn-primary' %>
  <%= link_to 'Next', next_url(:id => @animal.id), :class => 'btn' %> 
  <%= link_to 'Animals list', animals_path, :class => 'btn' %>
</div>
