<%= form_for(@cvi) do |f| %>
  <%= f.hidden_field :sale_id %>
  <% if @cvi.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cvi.errors.count, "error") %> prohibited this cvi from being saved:</h2>

      <ul>
      <% @cvi.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cvi_number %>
    <%= f.text_field :cvi_number %>
  </div>
  <div class="field">
    <%= f.label :date_string, "Date (mm/dd/yyyy)" %>
    <%= f.text_field :date_string %>
  </div>
  <div class="field">
    <%= f.label :buyer_name %>
    <%= select(:cvi, :person_id, (options_from_collection_for_select(@people, :id, :name_by_last, @cvi.sale.person_id )), :class => 'input-medium span3', :include_blank => "Choose a person" ) %> 
    <p><small>Don't see the person you are looking for? <%= link_to 'Add a new person.', new_person_path %></small></p>
  </div>
  <div class="actions">
    <%= f.submit :class => "btn btn-primary" %>
  </div>
<% end %>
