<h1>CVIs</h1>
<p class="lead">To create a new CVI, chose a <%= link_to 'sale', sales_path %> and click the "Create CVI" button.</p>
<table class="table table-striped">
  <tr>
    <th>CVI number</th>
    <th>Date</th>
    <th>Consignee</th>
    <th>Options</th>
  </tr>

<% @cvis.each do |cvi| %>
  <tr>
    <td><%= "P41-" +  cvi.cvi_number %></td>
    <td><%= cvi.date %></td>
    <td><%= link_to cvi.person.firstname + " " + cvi.person.lastname, cvi.person %></td>
    <td>
      <%= link_to(cvi) do %><i class="icon-eye-open"></i><% end %>
      <%= link_to(edit_cvi_path(cvi)) do %><i class="icon-pencil"></i><% end %>
      <%= link_to(cvi, method: :delete, data: { confirm: 'Are you sure? This cannot be undone.' }) do %><i class="icon-remove"></i><% end %>
    </td>
  </tr>
<% end %>
</table>
