<%= form_for(@sale) do |f| %>
    <%= f.hidden_field :person_id %>
  <% if @sale.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sale.errors.count, "error") %> prohibited this sale from being saved:</h2>

      <ul>
      <% @sale.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <h3>Buyer: <%= name %></h3>
  <p><%= link_to "(Change user)", people_path %></p>
  <div class="field">
    <%= f.label :buyer_number %>
    <%= f.text_field :buyer_number %>
  </div>
  <div class="field">
    <%= f.label :sale_date %>
    <%= f.date_select :sale_date %>
  </div>
  <div class="actions">
    <%= f.submit 'Submit', :class => 'btn btn-primary' %>
  </div>
<% end %>
