<% provide(:title, 'Sales') %>
<h1>Listing sales</h1>

<table class="table">
  <tr>
    <th>Buyer number</th>
    <th>Sale date</th>
    <th>Person</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sales.each do |sale| %>
  <tr>
    <td><%= sale.buyer_number %></td>
    <td><%= sale.sale_date %></td>
    <td><%= sale.person %></td>
    <td><%= link_to 'Show', sale %></td>
    <td><%= link_to 'Edit', edit_sale_path(sale) %></td>
    <td><%= link_to 'Destroy', sale, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sale', new_sale_path %>
