<% provide(:title, 'Sales') %>
<div class="row">
  <div class="span2">
    <h1>Sales</h1>
  </div>
</div>
<div class="row toolbar">
  <div class="span5 pull-left">
    <%= link_to 'New Sale', new_sale_path, :class => 'btn btn-primary' %>
  </div>
  <div class="span5 pull-left">
    <%= will_paginate :class => 'pagination-mini' %>
  </div>
</div>

<table class="table table-striped">
  <tr>
    <th>Sale Date</th>
    <th>Buyer Name</th>
    <th>Buyer Number</th>
    <th>No. Animals</th>
    <th>Options</th>
  </tr>

<% @sales.each do |sale| %>
  <tr>
    <td><%= sale.sale_date %></td>
    <td><%= link_to (sale.person.lastname + ", " + sale.person.firstname), sale.person %></td>
    <td><%= sale.buyer_number %></td>
    <td><%= sale.animals.count %></td>
    <td>
      <%= link_to(sale) do %><i class="icon-eye-open"></i><% end %> 
      <%= link_to(edit_sale_path(sale)) do %><i class="icon-pencil"></i><% end %>
      <%= link_to(sale, method: :delete, data: { confirm: 'Are you sure?' }) do %><i class="icon-remove"></i><% end %>
    </td>
  </tr>
<% end %>
</table>

<%= will_paginate %>

<br />

