<% provide(:title, 'Sales') %>
<h1>Listing sales</h1>

<%= will_paginate %>

<table class="table">
  <tr>
    <th>Sale date</th>
    <th>Buyer name</th>
    <th>Buyer number</th>
    <th></th>
  </tr>

<% @sales.each do |sale| %>
  <tr>
    <td><%= sale.sale_date %></td>
    <td><%= sale.person.lastname + ", " + sale.person.firstname %></td>
    <td><%= sale.buyer_number %></td>
    <td>
      <%= link_to 'Show', sale %> / 
      <%= link_to 'Edit', edit_sale_path(sale) %> /
      <%= link_to 'Delete', sale, method: :delete, data: { confirm: 'Are you sure?' } %>
    </td>
  </tr>
<% end %>
</table>

<%= will_paginate %>

<br />

<%= link_to 'New Sale', new_sale_path %>
