<% provide(:title, 'Sales') %>
<h1>Listing sales</h1>

<div class="toolbar pull-left">
  <%= link_to 'New Sale', new_sale_path, :class => 'btn' %>
  <%= will_paginate :class => 'pagination-mini' %>
</div>

<table class="table table-striped">
  <tr>
    <th>Sale Date</th>
    <th>Buyer Name</th>
    <th>Buyer Number</th>
    <th>Options</th>
  </tr>

<% @sales.each do |sale| %>
  <tr>
    <td><%= sale.sale_date %></td>
    <td><%= name + ", " + sale.person.firstname %></td>
    <td><%= sale.buyer_number %></td>
    <td>
      <%= link_to 'Show', sale %> / 
      <%= link_to 'Edit', edit_sale_path(sale) %> /
      <%= link_to 'Delete', sale, method: :delete, data: { confirm: 'Are you sure?' } %>
    </td>
  </tr>
<% end %>
</table>

<%= will_paginate %>

<br />

