<% provide(:title, 'Sales') %>
<div class="row">
  <div class="span2">
    <h1>Sales</h1>
  </div>
</div>
<div class="row toolbar">
  <div class="span5 pull-left">
    <%= link_to 'New Sale', new_sale_path, :class => 'btn btn-primary btn-large' %>
  </div>
  <div class="span5 pull-left">
    <%= will_paginate :class => 'pagination-mini' %>
  </div>
</div>

<table class="table table-striped">
  <tr>
    <th>Sale Date</th>
    <th>Buyer Name</th>
    <th>Buyer Number</th>
    <th>Options</th>
  </tr>

<% @sales.each do |sale| %>
  <tr>
    <td><%= sale.sale_date %></td>
    <td><%= link_to (sale.person.lastname + ", " + sale.person.firstname), sale.person %></td>
    <td><%= sale.buyer_number %></td>
    <td>
      <%= link_to 'Show', sale %> / 
      <%= link_to 'Edit', edit_sale_path(sale) %> /
      <%= link_to 'Delete', sale, method: :delete, data: { confirm: 'Are you sure?' } %>
    </td>
  </tr>
<% end %>
</table>

<%= will_paginate %>

<br />

