<p id="notice"><%= notice %></p>

<p>
  <b>Buyer number:</b>
  <%= @sale.buyer_number %>
</p>

<p>
  <b>Sale date:</b>
  <%= @sale.sale_date %>
</p>

<p>
  <b>Person:</b>
  <%= @sale.person %>
</p>


<%= link_to 'Edit', edit_sale_path(@sale) %> |
<%= link_to 'Back', sales_path %>
