<% provide(:title, 'Sales') %>
<div class="container">
  <h1>Sale</h1>
</div>
<div class="row toolbar">

</div>

<div class="row">
<aside class="span4">
<section>
<h1><%= name %></h1>
<p>
  <b>Buyer number:</b>
  <%= @sale.buyer_number %><br />
  <b>Sale date:</b>
  <%= @sale.sale_date %>
</p>
<div class="btn-group">
  <%= link_to 'Edit', edit_sale_path(@sale), :class => 'btn btn-small' %>
  <%= link_to 'Back to sales', sales_path, :class => 'btn btn-small' %>
  <%= link_to_if(@sale.animals.any?, 'Create a CVI', new_cvi_path(:sale_id => @sale.id), :class => 'btn btn-small') %>
</div>
</section>
</aside>

<div class="span8">
  <% if @sale.animals.any? %>
    <table class="table table-condensed">
      <tr>
        <th>Breed</th>
        <th>Metal1</th>
        <th>Allflex</th>
        <th>Sex</th>
        <th>Old Tag</th>
        <th>Remove</th>
      </tr>
      <%= render @animal %>
    </table>
  <% else %>
    <p>No animals. Add some below.</p>
  <% end %>
</div>
</div>

<hr>
<div class="container">
  <h2>Select animals</h2>

<table class="table table-striped">
  <tr>
    <th>Select</th>
    <th>Date</th>
    <th>Metal1</th>
    <th>Allflex</th>
    <th>Comments</th>
  </tr>
<%= form_tag({:controller => "animals", :action => "animal_assignment"}, {:method => 'get'} ) do %>
  <%= hidden_field_tag( :sale_id, @sale.id ) %>
  <% @unsold_animals.each do |animal| %>
    <tr>
      <td><%= check_box_tag 'animals_sold[]', animal.id %></td>
      <td><span class="date"><%= animal.date %></span></td>
      <td><%= animal.metal1 %></td>
      <td><%= animal.allflex %></td>
      <td class="comments"><%= animal.comments %></td>
    </tr>
  <% end %>
  <%= submit_tag "Add to sale", :class => 'btn btn-primary toolbar' %>
<% end %>
</table>
</div>
