<% provide(:title, 'Sales') %>
<div class="container">
  <h1>Sale</h1>
</div>
<div class="row">
<aside class="span3">
<section>
<h1><%= name %></h1>
<p>
  <b>Buyer number:</b>
  <%= @sale.buyer_number %><br />
  <b>Sale date:</b>
  <%= @sale.sale_date %>
</p>

<%= link_to 'Edit', edit_sale_path(@sale) %> |
<%= link_to 'Back', sales_path %>
</section>
</aside>

<div class="span8">
<%= link_to 'Add animals' %> <!--add path later -->
  <% if @sale.animals.any? %>
    <table class="table table-condensed">
      <tr>
        <th>Date</th>
        <th>Metal1</th>
        <th>Allflex</th>
        <th>Comments</th>
        <th>Sale</th>
        <th>Options</th>
      </tr>
      <%= render @animal %>
    </table>
  <% end %>
</div>
</div>
<hr>
<div class="container">
  <h2>Select animals</h2>

<table class="table table-striped">
  <tr>
    <th>Select</th>
    <th>Date</th>
    <th>Metal1</th>
    <th>Allflex</th>
    <th>Comments</th>
  </tr>

<% @animals.each do |animal| %>
  <tr>
    <td><%= check_box("post", :animal_id) %></td>
    <td><span class="date"><%= animal.date %></span></td>
    <td><%= animal.metal1 %></td>
    <td><%= animal.allflex %></td>
    <td class="comments"><%= animal.comments %></td>
  </tr>
<% end %>
</table>

</div>
